*{
    margin-bottom:10px;
}
form{
    background-color:#213b50;
    width:50%;
    color:white;
    padding:25px;
    font-size:20px;
    margin-top:10px;
    margin-bottom:10px;
}

[type]{
    background-color:#2b4a64;
    width:50%;
    border:none;
    height:30px;
    color:white;
}

select{
    background-color:#2b4a64;
    width:50%;
    color:white;
    border-radius:none;
    border:none;
    height:30px;
    font-size:20px;



}

[type~="radio"]{
    width:auto;
    text-align:left;
}
#message{
    background-color:#2b4a64;
    width:50%;
}

[type~="submit"]{
    background-color:green;
    color:white;
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    font-weight:bold;
    font-size:20px;
    font-variant:small-caps;
    border:none;
    width:auto;
    height:auto;
}

input{
    width:50%;
}

input:focus{
    border: 1px #ffffff;
    background-color:#4e708c;
    color:#ffffff;
}

#message:focus{
    border: 1px #ffffff;
    background-color:#4e708c;
    color:#ffffff;
}
#agreement{
    text-align:left;
    width:auto;
    padding-top:15px;
    padding-bottom:15px;
}