@media (max-width:1170px){

    #main {
        background: url("../img/man-2.jpg") center top no-repeat scroll;
        background-size: cover;
        width:70%;
        display: flex;
        flex-direction:column;
        align-items: flex-end;
        justify-content: flex-start;
    }

    h1, h2{
        margin-right:4%;
    }
}