body{
    font-family: Verdana,Geneva,sans-serif;
    box-sizing: border-box;
    background-color: black;
}

#main {
    background: url("../img/man-1.jpg") center top no-repeat scroll;
    background-size: cover;
    height:600px;
    display: flex;
    flex-direction:column;
    align-items: left;
    justify-content: center;
    
}
h1, h2{
    color:white;
    margin-left:4%;
}