body{
    font-family: Verdana,Geneva,sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}

#main {
    background-image: url("../img/man-1.jpg");
    background-size: cover;
    height:600px;
    width:100%;
    position: absolute;
    
}
#text{
    background-color: none;
    color:white;
    height: 600px;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction:column;
    align-items: left;
    justify-content: center;
    margin: 4%;
}