
div{
    display:inline-block;
}

#main{
height:600px;
width: 600px;
position: relative;
top:10px;
left:10px;
background-color: white;
}

 /* #main div.square:nth-child(3n+1){ - nie wiem, dlaczego taka reguła działa świetnie przy kolorze, ale bardzo źle przy pozycjonowaniu*/



.square{
    height:200px;
    width:200px;
    color:red;
    border: solid black 1px;
    position:relative;
}

.round{
    height: 100px;
    width: 100px;
    background-color:yellow;
    border:solid black 1px;
    border-radius:100%;
    position:relative;
    top:50px;
    left:50px;

}