.akapit::before{
    content: 'PRZED TEKSTEM ';
    color: RED;
}

.akapit::after{
    content:'za tekstem';
    color:green;
}

.akapit::first-line{
    color:blue;
}

/* ************ */

.customer-list_item{
    color:blueviolet;
    font-weight:bold;
}
.customer-list_item:first-child{
    color:lime;
    font-size:32px;
}

.customer-list_item:nth-child(6){
    background-color:black;
}

.customer-list_item:nth-child(3n+4){
    color:green;
    text-decoration: underline;
    text-decoration-color: blue;
}


/* ***************************** */

input:focus{
    border: 1px solid red;
    border-radius:15px;
}

button:hover{
    background-color:blue;
}

button:active{
    background-color:gold;
}