#background-img{
    background-color: aquamarine;
    background-image:url(../img/truskawka.jpg);
    background-repeat: no-repeat;
    /* background-position: 50px 200px; */
    background-position: top center;
    background-size: 30% 30%;
}