.form{
    padding: $form-inner-spacing;
    border: 3px solid $form-border-color;

    h2 {
        font-size: 3.5rem;
    }

    a {
        @include resetLink(rgb(219, 121,8), "xl");
    }

    &__header {
        background-color: sandybrown;
        color: ivory;
    }


    &__btn {
        border-radius: 3px;
        border: 1px solid darkmagenta;
        background: lightgreen;

        //dodaje pseudoklase hover

        &:hover {
            background: red;
        }

        &--reset {
            opacity: .4;
        }
    }

    &__field {
        padding: 6px;
        border: 1px solid green;
        color: khaki;
    }
}
