body{
    display:inline-block;
}

div{
    width:auto;
    background-color:rgb(118, 118, 212);
    border:solid darkblue 10px;
}
form{
    font-size:12px;
    margin:10px;
    font-family: 'Times New Roman', Times, serif;
    

}
