.box {
    width: 150px;
    height: 150px;
    margin:20px;
}

#colors {
    background-color: yellow;
    transition: background-color 3s linear 1s;
}
#colors:hover{
    background-color: brown;
    transition: background-color 3s linear 1s;

}

#box1 {
    background-color: thistle;
    transition:width 2s linear 0s;
}
#box1:hover{
    width:300px;
}


#box2 {
    background-color: blanchedalmond;
}

#box3 {
    background-color: aquamarine;
}

#box4 {
    background-color: blue;
}