*{
    box-sizing:border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}



#header{
    background: url('../img/header.jpg') center top no-repeat scroll;
    background-size: cover;
    
}
#header .main-header-content {
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20%;
    padding-bottom: 20%;
}

h1{
    color:blue;
}

#nav{
    display:flex;
    background-color:blue;
    justify-content:space-around;
    padding-top:2%;
    padding-bottom: 2%;
    list-style-type: none;
    
}
.menu{
    color: white;
    font-style: bold;
}



.button{
    background-color:transparent;
    border: 2px solid navy;
    color:black;
    padding: 1%;
}

.button:hover{
    background-color: navy;
    color:white;
}


#ja{
    border-radius: 100%;
    width:20%;
}

/* #o-mnie { */
    /* height:100vh; */
    /* display:flex;
    justify-content: space-around;
    flex-direction:column;
    align-items:center; */
/* }  */

.o-mnie{
    display:flex;
    justify-content: space-around;
    flex-direction:column;
    align-items:center;
    background-color:gray;
}

.o-mnie p{
    text-align:center;
    width:40%;
}
#portfolio{
    text-align: center;
}
.portfolio{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:center;
}

.portfolio img{
    height:25vh;
    width:fixed;
    transition: border-radius 3s linear 0s;
}

.portfolio img:hover{
border-radius: 75%;
}