
#main{
    position:relative;
    text-align:center;
}
#div-width{
    background-color:pink;
    width: 150px;
    height:150px;
    transition: width 2s linear 0s;
    position:relative;
    display:inline-block;
    
}


#div-width:hover{
    width:300px;
}

#div-height{
    background-color:violet;
    width:150px;
    height:150px;
    transition: height 2s linear 0s;
    display:inline-block;
    
}

#div-height:hover{
    height:300px;

}

#div-all{
    background-color:palevioletred;
    width:150px;
    height:150px;
    transition: height 3s linear 0s, width 3s linear 0s;
    display:inline-block;
    
}

#div-all:hover{
    width:300px;
    height:300px;
}

div{
    box-align: center;
}