/*generalne ustawienia strony */

*{
    box-sizing:border-box;
    }

html {
    scroll-behavior: smooth;
  }

body{
    font-family: 'Open Sans', sans-serif;
    }

a{
    text-decoration: none;
    color: white;
    }
p {
    padding: 15px;
}
    /* nagłówek */
#header{
    background-color: WHITE;
    margin: 40px;
    }

#header .main-header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.header-portrait {
    height: 250px;
    border-radius: 100%;
    margin: 40px;
    
}

.header-photos {
    display: flex;
    flex-direction: row;
}

h1{
    color:lightsteelblue;
    width: 60%;
    text-align: center;
}




/* menu */
#nav{
    display:flex;
    background-color:lightsteelblue;
    justify-content:space-around;
    padding-top:2%;
    padding-bottom: 2%;
    list-style-type: none;
    position: sticky;
    top: 0;
    z-index: 2;
    
}
.menu{
    color: white;
    font-style: bold;
}

/* główny tekst */


#o-sprawie{
    padding-top:5%;
    padding-bottom:3%;
    background-color:rgba(236, 235, 235, 0.24);
    width: 100vw;
    

}
 .o-sprawie{
    display:flex;
    justify-content: space-around;
    flex-direction:column;
    align-items:center;
} 

.o-sprawie-naglowek {
    text-align: center;
    width: 80%;
}

.o-sprawie p{
    width:80%;
}

.portrait-text{
    margin: 20px;
    height: 400px;
    width:400px;
}

.naglowki-o {
    background-color: lightsteelblue;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
}
.wenancjusz-tekst {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    width: 80%;
    position: top;
}

.andrzej-tekst {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    width: 80%;
}

#portrait-text-wenancjusz {
    
}

#portrait-text-andrzej {
}




#dowody{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}



/* galeria */


.carousel {
    width: 80%;
}

.carousel-item {
    z-index: -1;
}

.sr-only {
    color: black;
}

.carousel-control-prev-icon {
    background-color: black;
    padding: 15px;
    border-radius: 100%;
    z-index: 0;
}

.carousel-control-next-icon {
    background-color: black;
    padding: 15px;
    border-radius: 100%;
    z-index: 0;
}

.sr-only {
    color: black;
}

.carousel-item {
    width: 600 px;
    text-align: center;
    
}

.carousel-caption {
    color: black;
    background-color:lightblue;
    width: 80px;
    height: 12px;
    border-radius: 10%;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    bottom: 0px;
    left:48%;


}

/* kontakt */

form {
    width: 40%;
    height: 50%;
}
.button, [type="submit"]{
    background-color:transparent;
    border: 2px solid navy;
    color: navy;
    background-color:white;
    padding: 1%;
    margin-top: 10px;
}

.button:hover, [type="submit"]:hover{
    background-color: navy;
    color:white;
}

#kontakt{
    text-align: center;
    /* height: 50vh; */
}
.kontakt{
    height: 100%;
    display:flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    background-color: lightsteelblue;
    margin:10px;

}

.kontakt h2{
    color: white;
}
form{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding-bottom:50px;

}
#form1{
    display:flex;
    justify-content: space-between;
    flex-direction:row;
    width:100%;
    padding-bottom: 10px;
}



.kontakt form textarea {
	flex-basis: 100%;
	margin-bottom: 15px;
	padding: 15px;
	height: 100px;
}

.form-input {
    width:49%;
}

#submit {
position: relative;
    left: 40%;
    width: 20%;
}
#dowody p {
    width: 80%;
    padding: 10px;
}

#kontakt-h2 {
    padding-top: 20px;
}