* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #222;
	color: #eee;
}

h2 {
	text-transform: uppercase;
}

#gallery {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

figure {
	display: block;
	width: 100%;
	margin: 0px;
	margin-bottom: 1%x;
}

figure figcaption {
	text-align: center;
}

figure img{
	width: 100%;
	border: 1% solid #444;
}

